{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Reminders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <style>
      body {
        background-color: #101C2E;
        color: #5D8BFF;
      }

      .nav-link{
        color: #C9DBFF;
      }

      h1 {
        font-size: 5em; /* You can adjust the size accordingly */
      }

      .table {
        background-color: transparent !important;
      }

      td {
        background-color: transparent !important;
      }

      .plus-icon-container {
        position: absolute;
        top: 10px; /* Adjust the top position as needed */
        right: 20px; /* Adjust the right position as needed */
        cursor: pointer;
        color: #C9DBFF;
        font-size: 40px; /* Adjust the font size as needed */
      }

      .btn {
        color: #C9DBFF; 
      }
    </style>
    
  </head>

  <body>
    <div class="container text-center" style="margin-left: 10px; margin-right: 10px;">
        <div class="row">
            <div class="col">
                {% include 'reminders/navbar.html' %}
            </div>
        </div>
        <div class="row">
          <div class="col text-start">
            <h1 class="lh-1">Good</h1>
          </div>
        </div>
        <div class="row">
          <div class="col text-start">
            <h1 class="lh-1">{{ message }}</h1>
          </div>
        </div>
        <div class="row">
            <div class="col text-start">
                <p class="fs-2 lh-1 fw-lighter align-left" style="color: #C9DBFF;">
                    Today's {{weekday}}
                </p>
            </div>
            <div class="col">
                <p class="fs-2 lh-1 fw-lighter align-right" style="color: #C9DBFF;" align="right">
                    {{done_percent}}% Done
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-start">
                <p class="fs-6 lh-1 fw-lighter align-left" style="color: #C9DBFF;">
                    {{date}} {{time}}
                </p>
            </div>
            <div class="col">
                <p class="fs-6 lh-1 fw-lighter align-right" style="color: #C9DBFF;" align="right">
                    {{done_tasks}} Completed tasks
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-start">
                <p class="fs-2 fw-lighter" style="color: #5D8BFF; text-decoration: none;">
                    {{tasks_num}} Tasks
                </p>
            </div>
            <div class="col text-end">
                <a class="fs-2 fw-lighter" href="{% url 'all-boards'%}" style="color: #C9DBFF; text-decoration: none;" >Boards</a>
            </div>
          </div>
          <div class="row row-cols-7">
            <div class="col text-start">
                {% if 'Monday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Monday"><strong>Mon</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Monday">Mon</a>
                {% endif %}
            </div>
            <div class="col text-center">
                {% if 'Tuesday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Tuesday"><strong>Tue</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Tuesday">Tue</a>
                {% endif %}
            </div>
            <div class="col text-center">
                {% if 'Wednesday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Wednesday"><strong>Wed</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Wednesday">Wed</a>
                {% endif %}
            </div>
            <div class="col text-center">
                {% if 'Thursday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Thursday"><strong>Thu</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Thursday">Thu</a>
                {% endif %}
              </div>
              <div class="col text-center">
                {% if 'Friday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Friday"><strong>Fri</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Friday">Fri</a>
                {% endif %}
              </div>
              <div class="col text-center">
                {% if 'Saturday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Saturday"><strong>Sat</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Saturday">Sat</a>
                {% endif %}
              </div>
              <div class="col text-end">
                {% if 'Sunday' in weekday %}
                <a class="btn" href="{% url 'home' %}?wd=Sunday"><strong>Sun</strong></a>
                {% else %}
                <a class="btn fw-lighter" href="{% url 'home' %}?wd=Sunday">Sun</a>
                {% endif %}
              </div>
          </div>
          <div class="row">
            <div class="col text-start" id="reminder-list">
                {% include 'reminders/reminder_list.html' %}
            </div>
          </div>
      
          <div class="row">
            <div class="col text-start">
  <a href="{% url 'add-reminder'%}" class="btn btn-outline-secondary btn-sm rounded-3" style="width: 100%;">Add</a>
            </div>
          </div>

          <div class="row">
            <div class="col text-start" id="reminder-list">
                {% include 'reminders/weather.html' %}
            </div>
          </div>

</div>

<br>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>
